/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Common */
body{
    font-family: 'Montserrat', sans-serif;
}
.contenitore-principale{
    display: flex;
    height: calc(100vh - 80px);
}

/* Sidebar */
.sidebar{
    background-color: black;
    width: 300px;
    position: relative;
}
/* Logo Spotify */
.sidebar-top>img{
    width: 140px;
    margin: 20px;
    z-index: 99;
    position: relative;
}
/* /Logo Spotify */

.sidebar-top li a{
    color: grey;
    text-decoration: none;
    font-weight: 600;
    font-size: 10px;
    list-style: none;
    vertical-align: middle;
}
.sidebar-top ul li img{
    width: 25px;
    margin: 5px 20px;
    vertical-align: middle;
}

.barra-verde{
    border-left: 2px solid rgb(173, 255, 47);
}
.playlist-sidebar{
    height: 300px;
    overflow-y: auto;
}
.playlist-sidebar h3{
    color: white;
    margin: 20px;
}
.playlist-sidebar div, .playlist-sidebar ul li{
    color: grey;
    margin: 10px 20px;
    list-style: none;
}

/* Sidebar bottom */
.sidebar-bottom{
    color: grey;
    margin: 5px 20px;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.sidebar-bottom span{
    font-weight: 800;
    color: white;
}
.sidebar-bottom-download{
    width: 205px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}
.sidebar-bottom-profile{
    padding: 10px 0 5px 0;
}
.logo-download{
    width: 15px;
    vertical-align: middle;
}
.logo-profilo{
    background-color: #808080;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-right: 3px;
}

/* Section centrale */
.section-centrale{
    width: 100%;
    background-color: #151A22;
    overflow-y: auto;
}

/* Header */
.contenitore-header{
    background-color: rgba(0, 0, 0, 0.8);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}
.contenitore-button{
    padding-right: 5px;
}
.section-centrale header button{
    border-radius: 30px;
    padding: 10px 25px;
    font-size: 10px;
    background-color: transparent;
    border: 1px solid white;
    height: 40px;
}
.section-centrale header button a{
    text-decoration: none;
    color: white;
}

/* Nav */
nav{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

nav ul li{
    font-size: 13px;
    padding: 20px;
    font-weight: 500;
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: grey;
}

/* Sezione Recenti */
.contenuto-img-sopra, .contenuto-img-centro, .contenuto-img-sotto{
    color: white;
    padding: 30px 20px;
}
.contenitore-img{
    display: flex;
    align-items:flex-start;
    padding-top: 30px;
}
.contenuto-img-sotto .contenitore-img .contenitore-recenti{
    padding-top: 30px;
    border-radius: 50%;
}
.contenitore-recenti{
    height: 190px;
    width: 190px;
    background-color: red;
    border: 1px solid black;
}

/* Footer */
footer{
    /* background-color: #1b1b1b; */
    height: 80px;
    z-index: 99;
    position: relative;
    display: flex;
}
.footer-left, .footer-right{
    height: 80px;
    width: 20%;
}
.footer-left{
    background-color:hotpink;
}
.footer-center{
    height: 80px;
    width: 60%;
    background-color: orange;
}
.footer-right{
    background-color: hotpink;
}