/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Common */
body{
    font-family: 'Montserrat', sans-serif;
}
.contenitore-principale{
    display: flex;
    height: calc(100vh - 80px);
    width: 100%;
}

/* Sidebar */
.sidebar{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
}
/* Logo Spotify */
.sidebar-top>img{
    width: 140px;
    margin: 20px;
    z-index: 99;
    position: relative;
}

/* Sidebar top */
.sidebar-top li a{
    color: grey;
    text-decoration: none;
    font-weight: 600;
    font-size: 10px;
    list-style: none;
    vertical-align: middle;
}
#color-white{
    color: white;
}
.sidebar-top ul li img{
    width: 25px;
    margin: 5px 20px;
    vertical-align: middle;
}

.barra-verde{
    border-left: 2px solid rgb(173, 255, 47);
}
/* Sidebar playlist */

/* CREARE OVERFLOW-Y */
/* .playlist-sidebar{
    height: 350px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
} */
.playlist-sidebar h3{
    color: white;
    margin: 20px;
}
.playlist-sidebar .creazione-playlist, .playlist-sidebar ul li{
    color: grey;
    margin: 10px 20px;
    list-style: none;
}
.creazione-playlist{
    font-size: 15px;
    font-weight: 600;
}
.creazione-playlist div:first-child{
    display: inline-block;
    height: 35px;
    width: 35px;
    font-size: 30px;
    background-color: lightgray;
    color: black;
    margin-right: 5px;
    vertical-align: middle;
    text-align: center;
    line-height: 35px;
}
.creazione-playlist div:last-child{
    display: inline-block;
    vertical-align: middle;
}

/* Sidebar bottom */
.sidebar-bottom{
    color: grey;
    margin: 5px 20px;
    font-size: 10px;
    background-color: black;
}
.sidebar-bottom span{
    font-weight: 800;
    color: white;
}
.sidebar-bottom-download{
    width: 205px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}
.sidebar-bottom-profile{
    padding: 10px 0 5px 0;
}
.logo-download{
    width: 15px;
    vertical-align: middle;
}
.logo-profilo{
    background-color: #808080;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 3px;
}

/* Section centrale */
.section-centrale{
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: #151A22;
    overflow-y: auto;
}

/* Header */
.contenitore-header{
    background-color: rgba(0, 0, 0, 0.8);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px 0;
}
.contenitore-button{
    padding-right: 5px;
}
.section-centrale header button{
    border-radius: 30px;
    padding: 10px 25px;
    font-size: 10px;
    background-color: transparent;
    border: 1px solid white;
    height: 40px;
}
.section-centrale header button a{
    text-decoration: none;
    color: white;
}

/* Nav */
nav{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

nav ul li{
    font-size: 13px;
    padding: 20px;
    font-weight: 500;
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: grey;
}

/* Sezione Recenti */
.contenuto-img-sopra, .contenuto-img-centro, .contenuto-img-sotto{
    color: white;
    padding: 30px 20px;
}
.contenitore-img{
    display: flex;
    align-items:flex-start;
    padding-top: 30px;
}
.border-radius{
    height: 190px;
    width: 190px;
    border-radius: 50%;
}
.contenitore-recenti{
    height: 190px;
    width: 190px;
    margin-right: 20px;
}
.prima-riga{
    width: calc((100% / 6) - 20px);
}
.contenitore-recenti img{
    width: 100%;
}

/* Footer */
footer{
    background-color: #282828;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
/* Footer sinistra */
.contenitore-footer-sinistra, .contenitore-footer-destra{
    display: flex;
    align-items: center;
}

.contenitore-footer-sinistra img{
    width: 40px;
    margin: 0 20px;
}
.contenitore-footer-sinistra h4{
    font-size: 10px;
    color: white;
}
.contenitore-footer-sinistra .brano div{
    color: #646464;
    font-size: 10px;
    font-weight: 600;
}
.brano{
    margin-right: 40px;
}
.contenitore-footer-sinistra i{
    color: #646464;
    margin: 0 8px;
}

/* Footer centrale */
.contenitore-footer-centrale{
    min-height: 80px;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contenitore-footer-centrale-sopra .fa-play-circle{
    font-size: 23px;
}
.contenitore-footer-centrale-sopra{
    display: flex;
    align-items: center;
}
.contenitore-footer-centrale-sotto{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.minuti{
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 10px;
}
.contenitore-footer-centrale-sotto .volume{
    width: 400px;
}
/* Footer destra */
.contenitore-footer-destra i, .contenitore-footer-centrale i{
    margin: 0 8px;
    color: white;
    font-size: 13px;
}
/* Barra volume */
.volume{
    margin: 0 8px;
    height: 5px;
	width: 130px;
    background-color: #5A5A5A;
	border-radius: 10px;
}
.volume-bianco{
    background-color: #C1C1C1;
    width: 100px;
    height: 5px;
    border-radius: 10px;
}
.volume-bianco.destra{
    width: 30px;
}